<div class="ui page grid">
  <div class="sixteen wide column">
    <table class="ui table small blue segment">
      <thead>
        <tr>
          <th>newsfeed</th>
          <th>id</th>
          <th>pubDate</th>
          <th>title</th>
        </tr>
      </thead>
      <tbody id="news">

      </tbody>
    </table>
  </div>
</div>